body{
    
}
table{

 background-color: #fff1f1;
 text-align: start;
 margin: auto;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 font-size: 18px;
 
}
td{
    padding-left: 30px;
    border: solid rgba(255,255,255,.3);
}
img{
    border-radius: 80px 80px 80px 80px;
}
.cbtn{
    display: flex;
    margin-left: 40%;
}
.botones{
   
    border: 1px solid red;
    border-radius: 5px;
    padding: 5px 5px;
    background-color: #ca0b0b;
    color: white;
    margin-top: 30px;
    margin-left: 10px;
}
.botones:hover{

    cursor: pointer;
    color: white;

    background-color: #f01212;
}