@font-face {
    font-family: "Roboto-Black";
    src: url("../fonts/Roboto-Black.ttf");
}

body {
    font-family: Roboto-Black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #474aec, #65b8e8, #6aaee8, #407aef);
    animation: flow 30s linear infinite;
    background-size: 300% 300%;
    background-position: 0% 0%;
}

@keyframes flow {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

#registro {
    border-radius: 30px;
    border-color: rgba(4, 8, 193, 0.5);
    width: 320px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px rgba(4, 8, 193);
}

.registro_form {
    padding: 25px;
    background-color: rgba(119, 222, 255);
    border-radius: 30px;
}

.labels {
    font-size: 19px;
}

.input {
    width: 280px;
    height: 30px;
    font-size: 13px;
    text-align: left;
    padding-left: 10px;
    color: black;
    border: none;
    outline: none;
    box-sizing: border-box;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    border-radius: 13px;
}

.input:hover {
    box-shadow: inset -8px -8px 16px rgb(226, 231, 222);
}

.btn {
    border-radius: 5px;
    color: white;
    font-size: 15px;
    background-color: #0aacd0;
    border: none;
    width: 150px;
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
}

.btn:hover {
    background-color: #0b89af;
}

.hiper {
    text-decoration: none;
    color: rgb(3, 0, 155);
}