 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/ggffg-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 902px;
}

.u-section-1 .u-text-1 {
  text-shadow: 0px 0px 8px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  font-size: 4.375rem;
  font-weight: 700;
  margin: 398px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-shadow: 0px 0px 22px rgba(0,0,0,0.35);
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  margin: 59px auto 0;
}

.u-section-1 .u-list-1 {
  width: 941px;
  margin: 11px auto 0;
}

.u-section-1 .u-repeater-1 {
  min-height: 91px;
  grid-template-columns: repeat(4, 25%);
  grid-gap: 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 0 auto;
  padding: 15px 51px 16px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 0 auto;
  padding: 15px 51px 16px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 0 auto;
  padding: 15px 51px 16px;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 0 auto;
  padding: 15px 51px 16px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-style: italic;
  width: 614px;
  margin: 29px auto 60px;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  font-style: italic;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 794px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 320px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    background-position: 37.26% 53.83%;
    background-size: auto 115%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 775px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 262px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 40px;
  }

  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 182px;
    grid-template-columns: repeat(2, 50%);
  }

  .u-section-1 .u-btn-1 {
    padding-left: 71px;
    padding-right: 71px;
  }

  .u-section-1 .u-btn-2 {
    padding-left: 71px;
    padding-right: 71px;
  }

  .u-section-1 .u-btn-3 {
    padding-left: 71px;
    padding-right: 71px;
  }

  .u-section-1 .u-btn-4 {
    padding-left: 71px;
    padding-right: 71px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin: 23px 40px 55px 66px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 837px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 217px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 40px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 28.68% 51.52%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 527px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 1094px;
}

.u-section-2 .u-shape-1 {
  height: 372px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-list-1 {
  width: 1140px;
  margin: -302px auto 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(25% - 15px) calc(25% - 15px) calc(25% - 15px) calc(25% - 15px);
  min-height: 877px;
  grid-gap: 20px 20px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 20px 24px;
}

.u-section-2 .u-icon-1 {
  height: 88px;
  width: 88px;
  background-image: none;
  box-shadow: 7px -7px 0px 0 rgba(245,214,84,0.4);
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px 2px 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  margin: 20px 3px 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 20px 24px;
}

.u-section-2 .u-icon-2 {
  height: 88px;
  width: 88px;
  background-image: none;
  box-shadow: 7px -7px 0px 0 rgba(245,214,84,0.4);
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px 2px 0;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  margin: 20px 3px 0;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 20px 24px;
}

.u-section-2 .u-icon-3 {
  height: 88px;
  width: 88px;
  background-image: none;
  box-shadow: 7px -7px 0px 0 rgba(245,214,84,0.4);
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px 2px 0;
}

.u-section-2 .u-text-6 {
  font-style: italic;
  margin: 20px 3px 0;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 20px 24px;
}

.u-section-2 .u-icon-4 {
  height: 88px;
  width: 88px;
  background-image: none;
  box-shadow: 7px -7px 0px 0 rgba(245,214,84,0.4);
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px 2px 0;
}

.u-section-2 .u-text-8 {
  font-style: italic;
  margin: 20px 3px 0;
}

.u-section-2 .u-btn-4 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-text-9 {
  font-size: 1rem;
  letter-spacing: 0px;
  width: 428px;
  margin: 52px auto 60px;
}

.u-section-2 .u-btn-5 {
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 963px;
  }

  .u-section-2 .u-shape-1 {
    height: 314px;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
    margin-top: 180px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 15px));
    min-height: 352px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-top: 29px;
    margin-bottom: 13px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1905px;
  }

  .u-section-2 .u-shape-1 {
    height: 795px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
    margin-top: 107px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 740px;
  }

  .u-section-2 .u-text-9 {
    margin: 30px calc(((100% - 720px) / 2) + 146px) 47px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 3803px;
  }

  .u-section-2 .u-shape-1 {
    height: 1122px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
    margin-top: 780px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-9 {
    margin-left: calc(((100% - 540px) / 2) + 56px);
    margin-right: calc(((100% - 540px) / 2) + 56px);
    margin-bottom: -440px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 3348px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-top: 114px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-9 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
    margin-bottom: -380px;
  }
} .u-section-3 {
  min-height: 961px;
}

.u-section-3 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 587px);
  height: 800px;
  margin: 0 0 0 auto;
}

.u-section-3 .u-image-1 {
  height: 551px;
  width: 935px;
  object-position: 0% 50%;
  margin: -712px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-3 .u-layout-wrap-1 {
  width: 977px;
  margin: -190px calc(((100% - 1140px) / 2) + 60px) 60px auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 474px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-3 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  letter-spacing: 2px;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 20px auto 0 0;
  padding: 13px 46px 15px 45px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 69px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  min-height: 414px;
  background-image: url("images/estyle-education-concept-cheerful-good-looking-redhead-female-student-with-foxy-long-hair-wearing-headphones-neck-backpack-.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 923px;
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 587px);
  }

  .u-section-3 .u-image-1 {
    height: 526px;
    width: 848px;
    margin-top: -720px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 876px;
    margin-top: -218px;
    margin-right: calc(((100% - 940px) / 2));
    margin-bottom: 42px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 456px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 66px;
  }

  .u-section-3 .u-image-2 {
    min-height: 398px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 906px;
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 587px);
  }

  .u-section-3 .u-image-1 {
    height: 446px;
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 663px;
    margin-top: -138px;
    margin-right: calc(((100% - 720px) / 2));
    margin-bottom: 60px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 498px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 166px;
  }

  .u-section-3 .u-image-2 {
    min-height: 305px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1486px;
  }

  .u-section-3 .u-shape-1 {
    width: 437px;
    height: 1337px;
  }

  .u-section-3 .u-image-1 {
    height: 335px;
    width: 540px;
    margin-top: -1257px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 439px;
    margin-top: -47px;
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 449px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 352px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 597px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1254px;
  }

  .u-section-3 .u-shape-1 {
    width: 278px;
    height: 1106px;
  }

  .u-section-3 .u-image-1 {
    height: 211px;
    width: 340px;
    margin-top: -1026px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 309px;
    margin-top: -36px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 498px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 273px;
  }

  .u-section-3 .u-image-2 {
    min-height: 376px;
  }
} .u-section-4 {
  background-image: none;
  min-height: 539px;
}

.u-section-4 .u-shape-1 {
  height: 296px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-group-1 {
  min-height: 377px;
  width: 965px;
  text-shadow: 0px 0px 0 rgba(0,0,0,0);
  margin: -215px auto 60px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 49px;
}

.u-section-4 .u-text-1 {
  text-transform: none;
  font-size: 2.25rem;
  margin: 26px auto 0 0;
}

.u-section-4 .u-form-1 {
  height: 220px;
  margin: -14px 0 0 403px;
}

.u-section-4 .u-form-group-2 {
  margin-left: 0;
}

.u-section-4 .u-btn-1 {
  text-transform: uppercase;
  background-image: none;
  border-style: none;
  width: 100%;
  letter-spacing: 2px;
  font-weight: 700;
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2;
  margin: -190px 545px 0 0;
}

.u-section-4 .u-social-icons-1 {
  white-space: nowrap;
  height: 26px;
  min-height: 16px;
  width: 164px;
  min-width: 124px;
  margin: 33px auto 0 0;
}

.u-section-4 .u-icon-1 {
  height: 100%;
}

.u-section-4 .u-icon-2 {
  height: 100%;
}

.u-section-4 .u-icon-3 {
  height: 100%;
}

.u-section-4 .u-icon-4 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    width: 940px;
  }

  .u-section-4 .u-form-1 {
    margin-left: 378px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 520px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 514px;
  }

  .u-section-4 .u-shape-1 {
    height: 280px;
  }

  .u-section-4 .u-group-1 {
    min-height: 384px;
    width: 720px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 27px;
  }

  .u-section-4 .u-form-1 {
    margin-left: 302px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 404px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 711px;
  }

  .u-section-4 .u-group-1 {
    min-height: 581px;
    width: 540px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-left: auto;
  }

  .u-section-4 .u-form-1 {
    width: 480px;
    margin-top: 217px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-top: -421px;
    margin-right: 0;
  }

  .u-section-4 .u-social-icons-1 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 801px;
  }

  .u-section-4 .u-group-1 {
    min-height: 671px;
    width: 340px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 0;
  }

  .u-section-4 .u-form-1 {
    height: 308px;
    width: 300px;
    margin-top: 221px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.125rem;
    margin-top: -512px;
    margin-left: 20px;
  }

  .u-section-4 .u-social-icons-1 {
    margin-top: 17px;
    margin-bottom: 361px;
    margin-left: 105px;
  }
}